*{
  box-sizing: border-box;
}
h1{
  color:green;
  display: flex;
  justify-content:center;
  clear:both;
}
h2{
  color:purple;
  display: flex;
  justify-content: center;
}

.hidden{
  display:none;
}

.top{
  float:left;
  height:350px;
  width:50%;
  border:2px solid black;

}
.bottom{
  float:left;
  height:350px;
  width:50%;
  border:2px solid black;

}
